@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';

.App {
  text-align: center;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  width: 100%;
  font-family: 'gotham';
}

ul{
  display: flex;
  /* flex: 1 0 100%; */
}

nav{
  display: flex;
}

li{
  margin-top: 1em;
  letter-spacing: 0.7em;
  padding: 1em;
}

.heading{
  text-align: center;
  font-size: 3em;
  color: #282c34;
  letter-spacing: 1em;
  margin-top: 2em;
  font-family: 'gotham';
}
.reviews{
  display: flex;
}

.review{
  margin-top: 3.6em;
  margin-bottom: 3em;
  display: flex;
  color: white;
  flex: 0 1 100%;
}

.review-body{
  width: 10em;
  height: 10em;
  background-color: #282c34;
  line-height: 100%;
  /* align-content: center; */
  color: white;
  position: relative;
  flex: 0 0 50%;
  margin: auto; 
  display: flex;
  justify-content: center;
  border-radius: 2em;
}

.review-text{
  position: absolute;
  font-family: 'gotham';
  top: 50%;
}

form{
  padding-top: 2em;
}

#review-input{
  height: 1.5em;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  color: black;
}

#review-add{
  height: 1.5em;
  padding-top: 0.5em;
  margin-bottom: 1em;
  font-family: 'gotham';
}